<!DOCTYPE html>
<html>
<head>
	<title>StarGazing</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel = "stylesheet" href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
		hr {
			border: 0;
			border-top: 1px solid #c0c0c0;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<h1>StarGazing</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">

		<h2>CRUD Movie User</h2>
		<hr>

		<form data-ajax="false" method="POST" action="/movie_user/C">
			<label><b>Create Movie User</b></label>
		    <input name="movie_id" type="text" placeholder="Movie ID">
		    <input name="user_id" type="text" placeholder="User ID">
		    <input name="rating" type="text" placeholder="rating">
		    <input type="submit" class="ui-shadow ui-btn ui-corner-all" value="Create">
		</form>
		<hr>
		<form data-ajax="false" method="GET" action="/movie_user/R">
			<label><b>Find Movie User</b></label>
		    <input name="movie_id" type="text" placeholder="Movie ID">
		    <input name="user_id" type="text" placeholder="User ID">
		    <input type="submit" class="ui-shadow ui-btn ui-corner-all" value="Find">
		</form>
		<hr>
		<form data-ajax="false" method="POST" action="/movie_user/U">
			<label><b>Update Movie User</b></label>
		    <input name="movie_id" type="text" placeholder="Movie ID">
		    <input name="user_id" type="text" placeholder="User ID">
		    <input name="rating" type="text" placeholder="rating">
		    <input type="submit" class="ui-shadow ui-btn ui-corner-all" value="Update">
		</form>
		<hr>
		<form data-ajax="false" method="POST" action="/movie_user/D">
			<label><b>Delete Award</b></label>
		    <input name="movie_id" type="text" placeholder="Movie ID">
		    <input name="user_id" type="text" placeholder="User ID">
		    <input type="submit" class="ui-shadow ui-btn ui-corner-all" value="Delete">
		</form>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>dev version 1.0</h4>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>