<!DOCTYPE html>
<html>
<head>
	<title>StarGazing</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel = "stylesheet" href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
		hr {
			border: 0;
			border-top: 1px solid #c0c0c0;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<h1>StarGazing</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">

		<h2>CRUD Star</h2>
		<hr>

		<form data-ajax="false" method="POST" action="/person/C">
			<label><b>Create Star</b></label>
		    <input name="id" type="text" placeholder="Star ID">
		    <input name="first_name" type="text" placeholder="Star First Name">
		    <input name="last_name" type="text" placeholder="Star last Name">
		    <input name="dob" type="text" placeholder="Date of birth">
		    <input name="bio" type="text" placeholder="Bio">
		    <input type="submit" class="ui-shadow ui-btn ui-corner-all" value="Create">
		</form>
		<hr>
		<form data-ajax="false" method="GET" action="/person/R">
			<label><b>Find Star</b></label>
		    <input name="id" type="text" placeholder="Star ID">
		    <input type="submit" class="ui-shadow ui-btn ui-corner-all" value="Find">
		</form>
		<hr>
		<form data-ajax="false" method="POST" action="/person/U">
			<label><b>Update Star</b></label>
		    <input name="first_name" type="text" placeholder="Star First Name">
		    <input name="last_name" type="text" placeholder="Star last Name">
		    <input name="dob" type="text" placeholder="Date of birth">
		    <input name="bio" type="text" placeholder="Bio">
		    
		    <input type="submit" class="ui-shadow ui-btn ui-corner-all" value="Create">
		</form>
		<hr>
		<form data-ajax="false" method="POST" action="/person/D">
			<label><b>Delete Star</b></label>
		    <input name="id" type="text" placeholder="Star ID">
		    <input type="submit" class="ui-shadow ui-btn ui-corner-all" value="Delete">
		</form>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>dev version 1.0</h4>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>