$def with (q1, q2, q3)

<!DOCTYPE html>
<html>
<head>
	<title>StarGazing</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel = "stylesheet" href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style type="text/css">
		.tab td {
			border: 1px solid #c0c0c0;
			margin: 1px;
			padding: 4px;
		}
		hr {
			border: 0;
			border-top: 1px solid #c0c0c0;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<h1>StarGazing</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<form method="GET" action="/movie/S">
		    <input name="search" type="search">
		    <select name="on">
		        <option value="movie">Movie</option>
		        <option value="person">Person</option>
		    </select>
		    <button class="ui-shadow ui-btn ui-corner-all">GAZE :-)</button>
		</form>

		<hr>

		<ul data-role="listview" data-inset="true">
		    <li data-role="list-divider">Best Movies <span class="ui-li-count">$len(q1)</span></li>
		    $for q in q1
			    <li>
				    <a href="/movie/R?id=$q['id']">
					    <h2>$q['movie_title']</h2>
					    <p><strong>Min Age:</strong> $q['age_rating']</p>
					    <p><strong>Release:</strong> $q['release_date']</p>
					    <p class="ui-li-aside"><strong>$q['avg_rating']</strong> star</p>
				    </a>
			    </li>
		</ul>

		<ul data-role="listview" data-inset="true">
		    <li data-role="list-divider">Upcoming Movies <span class="ui-li-count">$len(q2)</span></li>
		    $for q in q2
			    <li>
				    <a href="/movie/R?id=$q['id']">
					    <h2>$q['movie_title']</h2>
					    <p><strong>Min Age:</strong> $q['age_rating']</p>
					    <p><strong>Release:</strong> $q['release_date']</p>
					    <p class="ui-li-aside"><strong>$q['avg_rating']</strong> star</p>
				    </a>
			    </li>
		</ul>

		<ul data-role="listview" data-inset="true">
		    <li data-role="list-divider">All Movies <span class="ui-li-count">$len(q3)</span></li>
		    $for q in q3
			    <li>
				    <a href="/movie/R?id=$q['id']">
					    <h2>$q['movie_title']</h2>
					    <p><strong>Min Age:</strong> $q['age_rating']</p>
					    <p><strong>Release:</strong> $q['release_date']</p>
					    <p class="ui-li-aside"><strong>$q['avg_rating']</strong> star</p>
				    </a>
			    </li>
		</ul>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>dev version 1.0</h4>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>