<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>starGazing</title>
	<meta title="description" content=""> <!-- Add a description -->
	<meta title="author" content=""> <!-- Your name -->

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/skull.css">
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header black bg-silver">
	<form class="p3">
		<div class="row m0">
			<div class="column-2">
				<div class="h2">
					<span class="black">star</span><span class="bold red">Gazing</span>
				</div>
			</div>
			<div class="column-3"></div>
			<div class="column-4">
				<input style="margin: 0px;" type="text" placeholder="Search here">
			</div>
			<div class="column-2">
				<select style="margin: 0px;">
					<option>Opt 1</option>
				</select>
			</div>
			<div class="column-1">
				<input style="margin: 0px;" type="submit" value="Gaze!">
			</div>
		</div>
	</form>
</div>
</body>
</html>
